:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  width: 230px;
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
}

.container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin: auto;
}

.container h4{
  text-align: center;
  color: var(--darkblue);
  font-weight: 750;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  border: 0px;
  margin: 10px;
}

.container p {
  text-align: center;
  font-size: small;
  color: var(--grayishblue);
  font-weight: 400;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  border: 0px;
  margin: 10px;
}

.attribution {
  text-align: center;
  position: relative;
}